

.imageSize{
    width:100% ;
    height: 60vh;
}
.floatingSurface{
    position: absolute;
    z-index: 1;
}

.cloud1{
    width: 15%;
    height: 20vh;
    right: 0;
}
.cloud2{
    width: 15%;
    height: 20vh;
    left: 20;
}
.cardContainer{
    margin-left: 33%; 
    position: absolute; 
    z-index: 3; 
    top: 15%;
}
.card-body{
    text-align: center;
}

.card_body_container{
    display: flex; justify-content: space-between;
}
.card-text{
    position: relative; bottom: -10px;
}
.HourlyInfo{
    display: flex; justify-content: space-evenly; padding-top: 50px; cursor: pointer;
}
.card{
  
    background-color: #000;
    color: #fff;
    opacity: .5;
    
  }
  .card::-webkit-scrollbar {
    display: none;
  }

  .card {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .degreesBar{
      text-align: center;
      font-size: 4rem;
      font-weight: 600;
  }

  