<div class="moreInfoContainer" *ngIf="moreInfobox && moreInfoData" [ngStyle]="{color:fontColor}" >
    <img class="moreInfoImage" [src]="moreInfoData.image" alt="No Image Available"  >
    <div [ngStyle]="{'padding-left': '5%',color:fontColor}">
        <div class="moreInfoData">
            <h1>{{moreInfoData.place}}</h1>
            <button type="button" class="btn btn-dark btn-lg" (click)="moreInfobox=false">return</button>
        </div>
        <h4>{{moreInfoData.info}}</h4>
        <h5>#{{moreInfoData.kinds}}</h5>
        
    </div>
</div>
<div *ngIf="!moreInfobox">
    
    <!-- search input -->
    <form #attractionInputForm="ngForm" class="input-group input-group-sm mb-3" >
        <div class="input-group-prepend" >
            <span  class="btn btn-secondary btn-lg active">City</span>
        </div>
        <input required  placeholder="City &#40;Ex:- Vancouver&#41;"  type="text" class="form-control firstInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm" ngModel name="countryName">
        <div class="input-group-prepend">
            <span  class="btn btn-secondary btn-lg active ">Country's Abbreviation</span>
          </div>
          <input required  placeholder="Country Code &#40;Ex:- CA&#41;"  type="text" class="form-control secondInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm" ngModel name="countryCode">
          <button style="margin-left: 1%;" [disabled]="!attractionInputForm.valid" type="button" class="btn btn-primary" (click)="submitData(attractionInputForm)">Search</button>
    </form>
    <div *ngIf="attractionsFound.length<1" class="spinner">
        <app-spinner ></app-spinner>
    </div>
    <h1 class="attractionHeading"> <u>Attractions</u> </h1>
    <div class="cardsContainer" *ngIf="attractionsFound.length>0" >
        
        <div   *ngFor="let attractions of attractionsFound" style="margin-right: 2%;">

            <div [@upDown]="'down'" class="card" style="width: 18rem; ">
                <img class="card-img-top" style="opacity: 1;" [src]="attractions.image" alt="No Image Found" width="100px" height="100px">
                <div class="card-body">
                <h5 class="card-title">{{attractions.place}}</h5>
                <p>#{{attractions.address}}</p>
                <!-- <p class="card-text">{{attractions.info}}</p> -->
                <!-- <p >{{attractions.kinds}}</p> -->
                </div>
                <button (click)="moreInfo(attractions)" type="button" class="btn btn-outline-light cardMoreInfo">More info</button>

            </div>


        </div>
    </div>
    
</div>

